/exporter prometheus
/kafka-elo-out.txt
/kafka.txt
/kafka_alelo-elo-out.py
/kafka_elo-out-exporter.py
/kafka_elo-out-exporterv2.py
/kafka_elo-out-exporterv3.py
/kafka_elo-out-exporterv4.py
/kafka_elo-out-exporterv5.py
/kafka_elo-out.py
/kafka_list.py
/saida_kafka.txt
/teste1.txt
/teste2.txt
/kafka_elo-out-exporterv6.py
/kafka-elo-out-mensagens.py
